@model MyLeasing.Web.Data.Entities.Owner

@{
    ViewData["Title"] = "Details";
}

<h1>Details Owner</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <hr />
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Document)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Document)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.OwnerName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.OwnerName)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.FixedPhone)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.FixedPhone)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.CellPhone)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.CellPhone)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Address)
                </dd>
            </dl>
        </div>
        <div class=" col-md-4">
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="@Url.Content(Model.ImageUrl)" alt="Image" style="width:300px;height:450px;max-width:100%;height:auto" />
            }
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>